.container {
  width: 100%;
  display: flex;
  justify-content: center;

  height: 80px;
  position: fixed;
}

.rightNav {
  display: flex;
  background-color: rgba(238, 238, 238, 0.283);
  justify-content: center;
  height: 100% !important;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 0 15px;
  border: 2px solid rgb(225, 225, 225);
  border-top: none;
}

.container img {
  width: 20px;
  transition: all 0.3s;

  margin: 0 10px;
  margin-top: 5px;
}

.container img:hover {
  margin-bottom: 7px;
  cursor: pointer;
}

.container ul {
  display: flex;
  list-style: none;

  align-items: center;
  justify-content: center;
  height: 100% !important;
}

.container ul li {
  cursor: pointer;
  margin: 0 15px;

  transition: all 0.3s;
}

.container ul li:hover {
  margin-bottom: 7px;
  color: rgb(91, 129, 172);
}

/* media queries */

@media (max-width: 761px) {
  .rightNav ul li {
    display: none;
  }
}
