.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.title {
  width: 70%;
  border-top: 3px solid rgba(0, 0, 0, 0.048);
  display: flex;
  flex-direction: column;

  padding-top: 50px;
}

.title h1 {
  font-size: 39px;
}

.row {
  padding-top: 25px;
  width: 70%;
  display: flex;

  flex-wrap: wrap;
}

.rowItem {
  flex: 1;
  background-color: rgb(255, 253, 253);
  height: 500px;
  margin-right: 20px;
  min-width: 200px;
  flex-direction: column;
  display: flex;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: all 0.4s;
}

.rowItem:hover {
  box-shadow: rgba(29, 29, 49, 0.581) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-top: -5px;
}

.imgContainer {
  flex: 0.55;

  background-color: #c5cdc8;
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 100px !important;
  object-fit: cover;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.projectText {
  width: 100%;
  flex: 0.45;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectText button {
  padding: 11px 35px;
  margin-bottom: 3px;
  border-radius: 6px;
  font-family: "Poppins";
  font-size: 15px;
  transition: all 0.3s;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(85, 120, 217, 0.816);
}

.projectText button:hover {
  background-color: rgba(85, 120, 217, 0.816);
  cursor: pointer;
  color: white;
}

.projectText h3 {
  font-weight: 500;
  font-size: 25px;
}

.projectText p {
  font-size: 15px;
  margin-bottom: 15px;
}

@media (max-width: 868px) {
  .title {
    width: 95%;
  }

  .row {
    width: 95%;
  }
}
